biblio-ws/biblio-ws-webapp/src/main/resources/XSD-BACKUP/usager.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://biblio.io/api/biblio-web-service" elementFormDefault="qualified">


    <!--
    ============== User ===================
     -->

    <xs:complexType name="usagerWS">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>